body {
  background-color: #fff;
  color: #484e58;
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 720px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #486287;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.thin-hr {
  height: 1px;
  border-width: 0;
  border-top: 1px solid gray;
}

/* .column {
  float: left;
  width: 50%;
  padding: 0 0;
  box-sizing: border-box;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container li {
  margin: 20px 0px;
  padding: 0;
  list-style: none;
} */
